.svg {
    background-color: #272d35;
    width: 100vw;
    height: 100vh;
}

.circle {
    /*fill: #58804f;*/
    fill: none;
    stroke-width: 5;
}

.eyes {
    position: absolute;
    fill: #2f2f2f;
}